$text: white;
$background: #dfd3c3;
$altbackground: #c7b198;
$background2: #2d2c3e;
$red: red;
$accent: #596e79;
$icon-size: 60px;
$border-radius: 0.5; //15% = 0.15, 50% = 0.50 etc.

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@mixin flex-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin button-reset {
  background: none;
  border: none;
  color: white;
}
* {
  box-sizing: border-box;
  &::after {
    box-sizing: border-box;
  }
  &::before {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: $background2;
  border-radius: 100vw;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

header {
  width: 100%;
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  height: 7vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.85);
  h2 {
    color: white;
    width: 20%;
    margin-left: 1%;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
nav {
  width: 60%;
  margin-right: 1%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.25s ease;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  p {
    font-weight: bold;
    margin-right: 0;
  }
}


.video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.body-container {
  position: relative;
}

.hero-container {
  background: url("../assets/12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  opacity: 0.99;
}
.hero-banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: relative;
  h1 {
    font-family: 'Noto Sans', sans-serif;
     font-weight: 500;
    color: white;
    font-size: clamp(2rem, 5vw, 8rem);
    animation-name: opac;
    animation-duration: 2s;
    text-align: center;
    @keyframes opac {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  h3 {
    color: white;
    font-size: clamp(1rem, 1.5vw, 3rem);
  }
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  min-height: 90vh;
  flex-direction: row;
  margin: 5% auto 2.5%;
  background: white;
  h3 {
    font-size: 2rem;
  }
}
.contact-left {
  min-height: 100%;
  width: 35%;
  padding: 0.5%;
  color: black;
  h2 {
    font-size: clamp(2rem, 5vw, 10rem);
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  p {
    line-height: 2.4;
    margin: 2.5% auto;
    font-size: clamp(1rem, 1.25rem, 1.5rem);
  }
  ul {
    text-align: left;
    list-style-position: inside;
    li {
      line-height: 2;
    }
  }
}
.contact-right {
  width: 35%;
  min-height: 70vh;
  padding: 1%;
  h3 {
    color: $text;
    font-size: clamp(1rem, 3rem, 3.5rem);
    margin-block-start: 0em;
    margin-block-end: 0.5em;
  }
  p {
    color: $text;
    margin-block-start: 0em;
  }
  form {
    
    border-radius: 3px;
    // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    //   rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    //   rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 5%;
    label {
      color: white;
      margin: 2.5% 0;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5rem;
    } 
    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 2.5% 0;
      label {
        font-weight: 300;
        text-transform: none;
      }
    }
    input[type="submit"] {
      text-transform: uppercase;
      border: none; 
      cursor: pointer;
      background: $altbackground;
      font-size: 2rem;
      margin: 2.5% auto;
      font-weight: bold;
      padding: 2% 5%;
      transition: all 0.5s ease;
      &:hover {
        background: red;
        color: white;
      }
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      border-radius: 3px;
      line-height: 3;
      margin-bottom: 1%;
      background: $text;
      border-bottom: 2px solid black;
      text-indent: 5px;
      &::placeholder {
        color: black;
      }
    
    }
  }
}

.btn-contact {
  line-height: 2;
  text-align: center;
  padding: 8px 12px;
}

.btn {
  text-decoration: none;
  color: white;
  border: none;
  background: red;
  display: inline-block;
  padding: 1% 2%;
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 0.25s ease;
  &:hover {
  cursor: pointer;
  background: white;
  color: black;
  }
}
.scrollToTop {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  font-weight: bold;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  @include flex-center;
  background: $red;
  text-decoration: none;
  color: $text;
  border: none;
  height: 50px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  z-index: 100;
  &:hover {
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
}
.showScrollToTop {
  opacity: 1;
  transform: translateY(0);
}

.services-container {
  h2 {
    font-size: clamp(2rem, 2rem, 2rem);
  }
}
#accordion {
  margin: 5% auto;
}

.menu {
  border:1px solid white;
  border-bottom:none;
}

 .menu:last-child {
  border-bottom:1px solid white;
}
.header {
  display:flex;
  padding: 2.5%; 
  cursor: pointer;
  background: rgba(0, 0, 0, 0.65);
  color: white;
}
.title {
  flex:1;
}
.acc-icon {
  width:20px;
} 
.content {
  max-height: 0;
  transition: max-height 1s ease-out;
  overflow: hidden;
  padding:0;
  p {
    padding: 1%;
  }
}
.content-transition {
  max-height: 1500px;
  transition: max-height 2s ease-in;
} 
.cta-banner {
  background: url(../assets/contbg.jpg) center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 5%;
  div{
    display: flex;
    flex-direction: column;
    min-height: 18vh;
    width: 100%;
    background: rgba(45, 44, 62, 0.5);
  }
  h3 {
    font-size: clamp(2rem, 2vw, 2rem);
    border-bottom: 5px solid white;
    width: fit-content;
    margin: 1% auto;

  }
  span {
    font-size: clamp(2rem, 2.5vw, 3rem);
    font-weight: bold;
  }
  .divider {
    justify-content: center;
    font-size: clamp(1rem, 1vw, 2rem);
  }
}
.gallery {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  gap: 10px;
  place-content: center;
  img {
    width: 500px;
    height: 500px;
  }

}
.gallery-title {
  text-align: center;
  font-size: clamp(2rem, 3vw, 3rem);
}

.about-container {
  @include flex-space-evenly;
  gap: 0.5rem;
  flex-direction: row;
  margin: 0 auto;
}
.section {
  width: 50%;
  @include flex-space-evenly;
  flex-direction: column;
  gap: 0.5rem;
  h3 {
    font-size: 2rem;
  }
  p {
    @include flex-center;
    padding: 1%;
    line-height: 2;
    font-size: clamp(1.25rem, 1.75rem, 2rem);
    width: 80%;
  }
}

.footer-container {
  
  background: $accent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text;
  h3 {
    text-align: center;
    font-size: 3rem;
  }
  a {
    color: $text;
    text-decoration: none;
    font-size: 1.25rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer-left-container {
  display: flex;
  align-items: center;
  width: 70%;
}
.footer-list {
  @include list-reset;
  @include flex-space-evenly;
}

.footer-numbers {
  text-align: center;
  @include list-reset;
  width: 100%;
  li {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 0.75rem;
    &:first-of-type {
      margin-top: 0rem;
    }
    &:last-of-type {
      margin-top: 0rem;
    }
  }
}

.footer-column,
.footer-column0 {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: auto;
  h4 {
    text-align: center;
    font-size: 1.5rem;
    
  }
  ul {
    @include list-reset;
    
    
    li {
      list-style-type: none;
    }
  }
}
.footer-column0 {
margin-right: auto;
h4 {
  margin: auto;
  margin-bottom: 5%;
}
}


.icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  margin-left: $icon-size / 5;
  margin-right: $icon-size / 5;
  border-radius: $icon-size * $border-radius;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
    border-radius: $icon-size * $border-radius;
  }
  img {
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative;
    color: white;
    object-fit: contain;
    transition: all 0.25s ease;
    @include flex-center;
  }
}
.icon-expand {
  &::after {
    box-shadow: inset 0 0 0 1px $red;
  }
  &::before {
    background: $red;
    box-shadow: inset 0 0 0 $icon-size $accent;
  }
  &:hover::before {
    box-shadow: inset 0 0 0 1px $accent;
  }
}
.spot {
  height: 0px;
}

.map-responsive {
  overflow:hidden;
  padding-bottom: 25%;
  position:relative;
  height: 500px;
  width: 100%;
}

.map-responsive iframe {
  left:0;
  top:0;
  position:absolute;
}
.copyright {
  text-indent: 10px;
}



@media (max-width: 1400px) {
  .about-container {
    flex-direction: column;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-right,
  .contact-left {
    margin: 1%;
    width: 95%;
  }
  .section {
    width: 90%;
  }
  .cta-banner {
    
      flex-direction: column;
    
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 15px;
    place-content: center;
    img {
      width: 300px;
      height: 300px;
    }
  }
  
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 10px;
    place-content: center;
    img {
      width: 150px;
      height: 150px;
    }
  }
}